main > article > iframe {
    width: 100%;
    border: none;
  }
  
i {
  display: block;
  visibility: visible;
}

header {
  padding: 0px;
}

header > h1 {
  font-size: 45px;
}

a {
  text-align: center;
  width: 92%;
  display: block;
  border-radius: 0%;
  border: none;
  margin-left: -10px;
  margin-bottom: -9px;
  padding-left: 43px;
  padding-bottom: 10px;
  font-size: 25px;
}

menu {
  display: none;
}