.ltablet {
    transform: rotate(90deg);   
     position: absolute;
    top: 90%;
    left: 85%; 
    display: block;
    width: 50px;
    height: 50px;

}

.pc, .print, .ptablet, .pphone, .lphone {
    display: none;
}

body {
    background-image: url(../images/back-tablet.jpg);
}

h1 {
    font-size: 22px;
}