body {
    background-image: url(../images/back-print.jpg);
}

.print {
    display: block;
    margin: auto;
}

.pphone, .pc, .ptablet, .lphone, .ltablet  {
    display: none;
}


.printback {
    display: block;
}

h1 {
    color: black;
    text-shadow: none;
}